*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/test/tmp/
/test/version_tmp/
/tmp/

# Version specifiers
Gemfile.lock
.ruby-version
.ruby-gemset

# Environment normalization
/.bundle/
/lib/bundler/man/

# RSpec
/spec/reports/
/spec/examples.txt
.rspec_status

# Documentation cache
/.yardoc/
/_yardoc/
/doc/
/rdoc/

# Logs
*.log
*.log.[0-9]*

# RVM
.rvmrc

# Project specific
apidocs_v2.txt
